[**@did-btc1/cryptosuite**](../README.md)

***

[@did-btc1/cryptosuite](../globals.md) / VerificationResult

# Interface: VerificationResult

Defined in: [cryptosuite/interface.ts:18](https://github.com/dcdpr/did-btc1-js/blob/751aedd75738c26882a2149e644ae32b9e424707/packages/cryptosuite/src/cryptosuite/interface.ts#L18)

## Properties

### mediaType?

> `optional` **mediaType**: `string`

Defined in: [cryptosuite/interface.ts:21](https://github.com/dcdpr/did-btc1-js/blob/751aedd75738c26882a2149e644ae32b9e424707/packages/cryptosuite/src/cryptosuite/interface.ts#L21)

***

### verified

> **verified**: `boolean`

Defined in: [cryptosuite/interface.ts:19](https://github.com/dcdpr/did-btc1-js/blob/751aedd75738c26882a2149e644ae32b9e424707/packages/cryptosuite/src/cryptosuite/interface.ts#L19)

***

### verifiedDocument?

> `optional` **verifiedDocument**: `DidUpdateInvocation`

Defined in: [cryptosuite/interface.ts:20](https://github.com/dcdpr/did-btc1-js/blob/751aedd75738c26882a2149e644ae32b9e424707/packages/cryptosuite/src/cryptosuite/interface.ts#L20)
