[**@did-btc1/cryptosuite**](../README.md)

***

[@did-btc1/cryptosuite](../globals.md) / VerificationResult

# Interface: VerificationResult

Defined in: [cryptosuite/interface.ts:18](https://github.com/dcdpr/did-btc1-js/blob/4ab6f9915d95beed9bc633644c9db1539395f512/packages/cryptosuite/src/cryptosuite/interface.ts#L18)

## Properties

### mediaType?

&gt; `optional` **mediaType**: `string`

Defined in: [cryptosuite/interface.ts:21](https://github.com/dcdpr/did-btc1-js/blob/4ab6f9915d95beed9bc633644c9db1539395f512/packages/cryptosuite/src/cryptosuite/interface.ts#L21)

***

### verified

&gt; **verified**: `boolean`

Defined in: [cryptosuite/interface.ts:19](https://github.com/dcdpr/did-btc1-js/blob/4ab6f9915d95beed9bc633644c9db1539395f512/packages/cryptosuite/src/cryptosuite/interface.ts#L19)

***

### verifiedDocument?

&gt; `optional` **verifiedDocument**: `DidUpdateInvocation`

Defined in: [cryptosuite/interface.ts:20](https://github.com/dcdpr/did-btc1-js/blob/4ab6f9915d95beed9bc633644c9db1539395f512/packages/cryptosuite/src/cryptosuite/interface.ts#L20)
